.bg-full-height {
	min-height: 100vh;
	position: relative;
}

.bg-half-height {
	min-height: 50vh;
	position: relative;
}

.flex-centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-middle {
	display: flex;
	align-items: center;
}
.flex-column {
	flex-direction: column;
}