<% code("html") do %>
  <div id="search-form" class="bg-half-height flex-centered bg-black">
    <div class="container">
      <div class="large-form-container text-center">
        <form action="" class="flex-centered">
          <input type="text" name="email" id="email" placeholder="Where are you going ?" />
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
<% end %>
