<% code("html") do %>
  <div id="subscribe-form" class="bg-half-height flex-centered bg-green">
    <div class="container">
      <div class="large-form-container">
        <h2 class="text-center">You know you love us!</h2>
        <form action="" class="flex-centered">
          <input type="email" name="email" id="email" placeholder="Leave us your email" />
          <input type="submit" value="GO">
        </form>
      </div>
    </div>
  </div>
<% end %>
